html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.global {
    text-align: center;
    margin: 0 auto;
    font-family: 'Merriweather', serif;
}

.global__background {
    background-image: url("../images/background.png");
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
}